@font-face {
  font-family: "MainFont";
  src: url("prstartk.ttf") format("truetype");
}


@keyframes blink {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

@keyframes rainbow {
  0% {color: hsl(0, 100%, 50%);}
  14% {color: hsl(30,100%,50%);}
  28% {color: hsl(60,100%,50%);}
  42% {color: hsl(120,100%,50%);}
  56% {color:  hsl(240,100%,50%);}
  70% {color: hsl(280,100%,50%);}
  84% {color: hsl(320,100%,50%);}
  100% {color: hsl(255, 100%, 50%);}
}

#C {
  width: 512px;
  height: 512px;
  image-rendering: pixelated;
  cursor: pointer;
  position: relative;
}

#frame {
  overflow: hidden;
  border: solid 2px #fff1e8;
  margin: 20px;
}

#fieldFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outro{
  position: relative;
  border: solid 2px #fff1e8;
  cursor: default;
  z-index: 1;
  top: 40px;
  padding: 10px;
  color: #fff;
  background: rgba(128, 128, 128, 0.8);
}

#upgrades {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto 150px;
  min-width: 50%;
}

#upgrades > *{
  padding: 3px 10px;
}

#upgrades > *:nth-child(4n-1) {
  background: rgba(128, 128, 128, 0.6);
}

button, option, select{
  font-family: MainFont;
  cursor: pointer;
}

select{
  padding: 5px;
}

button:hover{
  background: #fff;
}

#newGame{
  padding: 10px;
  margin: 20px;
  font-size: large;
  animation: blink 1s infinite alternate ease-in-out;
}

#letters{
  width:0;
  height:0;
  overflow: visible;
  position:relative;
  pointer-events: none;
  user-select: none;
}

.letter {
  position: relative;
  top: 32px;
  left: 32px;
  width: 0px;
  height: 0px;
  text-align: center;
  z-index: 1;
}

.centered-content {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  color: #fff;
  font-family: MainFont;
}

div {
  text-align: center;
}


em {
  color: #0f0;
  font-style: normal;
}

.rainbow{
  animation: rainbow 10s infinite alternate;
}

#exit,  #resetProgress{
  position:absolute;
  right:10px;
  bottom:10px;
}

@keyframes disappear {
  0% {opacity: 1; transform: translateY(0);}
  100% {opacity: 0; transform: translateY(-100px);}
}

.particle{
  z-index: 2;
  height: 0;
  width: 0;
  display: block;
  position: relative;
  animation: disappear 0.7s ease-out;
  opacity: 0;
  user-select: none;
}

#text{
  user-select: none;
  margin: 5px;
}

#instruction{
  font-size: 90%;
}